---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: true
NamespaceIndentation: All
---

